#bets-to-be-made{
  background-color:rgb(7, 112, 188) ;
  border-radius: 10%;
 
}


body{
    background-color: bisque;
}

#cash-chips >button{
    background-color: rgb(96, 94, 218);
    padding:0;
    border:none;
}

/* PLAY button stying*/
#spin-wheel{
background-color: rgb(255, 255, 255);
}
#spin-wheel:hover{
    background-color:rgb(7, 112, 188) ;
  border-radius: 10%;
  color: rgb(255, 255, 255);
    }

#remove-bet{
    background-color: rgb(164, 131, 131);
}

#remove-bet:hover{
    background-color: rgb(255, 0, 0);
    border-radius: 10%;
    color: rgb(255, 255, 255);
}
/* Styling for wager board*/
.black-numbers{
   color: rgb(255, 255, 255);
background-color: rgb(43, 38, 38);
border-radius: 100%;
border-color: rgb(0, 0, 0);
}

.red-numbers{
    color: rgb(255, 255, 255);
 background-color: rgb(255, 0, 0);
 border-radius: 100%;
 border-color: rgb(231, 1, 1);

 }

 .zero-btn{
    background-color: rgb(15, 226, 15);
    color: white;
    border-radius: 100%;
    border-color: rgb(12, 227, 16);
 }

