#bets-to-be-made{
    background-color:#396522 ;
   /* display:grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 
    10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 
    10px 10px 10px 10px 10px 10px 10px 10px 10px;

    grid-template-rows:  10px 10px 10px 10px 10px 10px 10px 10px;

    */
}
